{% extends 'main.html.twig' %}

{% block main_title %}
    {{ 'bug.add.title'|trans }}
{% endblock %}

{% block main_lead %}
    {{ 'bug.add.lead'|trans }}
{% endblock %}

{% block main_content %}
    {{ form_start(form) }}

    {{ form_row(form.project) }}
    {{ form_row(form.status) }}
    {{ form_row(form.priority) }}
    {{ form_row(form.due) }}
    {{ form_row(form.title) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.reproduce) }}
    {{ form_row(form.expected) }}
    {{ form_row(form.actual) }}
    {{ form_row(form.reporter) }}
    {{ form_row(form.assignee) }}

    <button type="submit" class="btn btn-primary">Create</button>
    <a href="{{ path('index') }}" class="btn btn-secondary">Cancel</a>

    {{ form_end(form) }}
{% endblock %}
