{% extends 'main.html.twig' %}

{% block main_title %}
    {{ 'project.edit.title'|trans }}
{% endblock %}

{% block main_lead %}
    {{ 'project.edit.lead'|trans }}
{% endblock %}

{% block main_content %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{{ path('project_list') }}" class="btn btn-secondary">Cancel</a>

    {{ form_end(form) }}
{% endblock %}

