{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="card px-5 text-center">
        {{ form_start(registrationForm) }}
        <img
                class="mb-4"
                src="{{ asset('images/logo.svg') }}"
                alt="THlEd BUGTRACKER Logo"
                width="128"
                height="128"
        >
        <div class="card-body">
            <h5 class="card-title">
                {{ 'website.title'|trans }}
                {{ 'register.register'|trans }}
            </h5>

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                {{ 'register.register'|trans }}
            </button>

            <p class="text-muted mt-5">
                {{ 'register.login'|trans({'%path%': path('login')})|raw }}
            </p>
            <p class="text-muted">
                {{ 'register.read_terms'|trans({'%path%': '#'})|raw }}
            </p>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
