<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link text-muted" href="#">{{ 'footer.contact'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted" href="#">{{ 'footer.disclaimer'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted" href="#">{{ 'footer.terms'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted" href="#">{{ 'footer.privacy'|trans }}</a>
    </li>
</ul>
<span class="text-muted">{{ 'footer.copyright'|trans }}</span>
